.createquestion {
  width: 1440px;
  height: 600px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}

.createquestion-image2 {
  top: 100px;
  left: 530px;
  width: 320px;
  height: 50px;
  position: absolute;
  object-fit: cover;
  border-color:black;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: white;
}
.createquestion-image3 {
  top: 200px;
  left: 530px;
  width: 320px;
  height: 50px;
  position: absolute;
  object-fit: cover;
  border-color: black;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: white;
}
.createquestion-image5 {
  top: 300px;
  left: 530px;
  width: 320px;
  height: 50px;
  position: absolute;
  object-fit: cover;
  border-color: black;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: white;
}

.createquestion-image4 {
  top: 400px;
  left: 530px;
  width: 330px;
  height: 55px;
  position: absolute;
  object-fit: cover;
  border-color: black;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: white;
}
.createquestion-text {
  top: 70px;
  left: 530px;
  color: black;
  width: auto;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Rounded;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
}
.createquestion-text1 {
  top: 170px;
  left: 530px;
  color: black;
  width: auto;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Rounded;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
}
.createquestion-text5 {
  top: 270px;
  left: 530px;
  color: black;
  width: auto;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Rounded;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
}
.createquestion-text0 {
  top: 370px;
  left: 530px;
  color: black;
  width: auto;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Rounded;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
}
.createquestion-primary-button26 {
  top: 480px;
  left: 640px;
  width: 100px;
  height: 40px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 9px;
  justify-content: center;
  background-image: linear-gradient(90deg, rgba(71, 118, 230, 1) 0%, rgba(142, 84, 233, 1) 100%);
}
.createquestion-text2 {
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: SF Pro Rounded;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  background-image: linear-gradient(90deg, rgba(71, 118, 230, 1) 0%, rgba(142, 84, 233, 1) 100%);
  border-style: hidden;
}