.search-container {
  display: flex;
  flex-direction: column;
}

.searchform {
  margin-top: 70px;
  align-self: center;
}

.search {
  font-size: 20px;
  font-family: SF Pro Rounded;
}
.searchbutton {
  font-size: 20px;
  font-family: SF Pro Rounded;
}



.searchitem {
  margin-top: 90px;
  align-self: center;
}